{% extends 'base.html' %}

{% block title %} Blog {% endblock title %}

{% block js %}
<script>
    let previews = document.getElementByClassName('preview');
    Array.from(previews).forEach((element) => {
        element.innerHTML = element.innerText;
    })
</script>
{% endblock js %}

{% block blogactive %} active {% endblock blogactive %}
{% block body %}
<style>
    * {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  /* padding: 20px; */
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  /* background-color: #aaa; */
  width: 100%;
  /* padding: 20px; */
}


/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
   border-radius: 10px;
   box-shadow: 10px 10px 5px grey;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
    /* * {

        box-sizing: border-box;
    }

    .sam html {
        font-family: 'roboto', sans-serif;
        font-size: 10px;
    }

    .img {
        width: 100%;
    }

    .sam body {
        width: 100%;
        margin: 0;
        padding: 0;
        /* display: flex; */
        /* align-items: center;
    justify-content: center; 
        background-color: #eee;
        /* padding: 0 1.5rem; 
    }

    .blog-post {
        width: 100%;
        height: 30%;
        position: relative;

        /* max-width: 98rem; 
        padding: 2rem;
        background-color: #fff;
        box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
        display: flex;
        align-items: center;
        border-radius: .8rem;

    }

    .blog-post_img {
        min-width: 30rem;
        max-width: 35rem;
        height: 30rem;
        transform: translateX(0rem);
        position: relative;
    }

    .blog-post_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: .8rem;
    }

    .blog-post_img::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to right rgba(79, 172, 254, .8) rgba(0, 242, 254, 0));
        box-shadow: .5rem .5rem 3rem lpx rgba(0, 0, 0, .05);
        border-radius: .8rem;
    }

    .blog-post_date span {
        display: block;
        color: rgba(0, 0, 0, .5);
        font-size: 1, 6rem;
        margin-left: 15px;
        font-weight: 600;
        /* margin: .5rem 0; 
    }

    .blog-post_title {
        font-size: 2, 5rem;
        margin: 1.5rem 0 2rem;
        margin-left: 15px;
        text-transform: uppercase;
        color: #4facfe;
    }

    .blog-post_text {
        margin-bottom: 3rem;
        font-size: 1.4rem;
        margin-left: 15px;
        color: rgba(0, 0, 0, .7);
    }

    .blog-post_cta {
        /* display: inline-block; 
        padding: 1.5rem 3rem;
        letter-spacing: 1px;
        float: right;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: #fff;
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        border-radius: .8rem;
        text-decoration: none;
    }

    .blog-post_cta:hover {
        background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);

    }


    @media screen and (max-width: 868px) {
        .sam blog-post {
            padding: 2.5rem;
            flex-direction: column;
        }

        .sam blog-post_img {
            min-width: 100%;
            max-width: 100%;
            transform: translateX(0, -8rem);
        }

    } */
</style>
<div class="sam">
    <div class="container my-3">
        <h2>Blogs:</h2>
        {% for post in allPosts %}


        <!-- <div class="blog-post">
            <div class="blog-post_img">
                <img src="/assets/photo-1557683316-973673baf926.jpg">

            </div>
            <div class="blog-post_info">
                <div class="blog-post_date">
                    <span>{{post.datetime}}</span>
                    <span>October 27 2020</span>


                    <h1 class="blog-post_title">{{post.title}}</h1>
                    <p class="blog-post_text">{{post.content|safe| truncatechars:500 }}></p>
                </div>
                <!-- <a href="#" class="blog-post_cta">read more</a> 
                <a href="/articles/{{post.slug}}" role="button" class="blog-post_cta">Continue reading</a>



            </div>
        </div> -->
        <div class="container">

            <div class="row">
              <div class="leftcolumn">
                <div class="card">
                  <h2>{{post.title}}</h2>
                  <p>(Dec 7, 2017)</p>
                  <div class="fakeimg" style="height:200px;"><img src="/media/images/force.jpg" style="width: 300px; height: 200px;"></div>
                  
                  <p>{{post.content|safe| truncatechars:500 }}</p>
                  <a href="/articles/{{post.slug}}" role="button" >Continue reading</a>
                </div>

                
              </div>
              <div class="rightcolumn">
                
                <div class="card">
                  <h3>Popular Post</h3>
                  {% for post in allPosts %}
                  <div class="fakeimg"><a href="/articles/{{post.slug}}">{{post.title}}</a></div><br>
                  {% endfor %}
                  
                </div>
                
              </div>
            </div>
            </div>
        {% endfor %}
    </div>
    {% endblock body %}
    <!-- <div
            class="row no-gutters border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}} ({{post.views}}
                    views)</strong>
                <h3 class="mb-0">{{post.title}}</h3>
                <div class="mb-1 text-muted">{{post.datetime}}</div>
                <p class="card-text mb-auto">
                <div class="preview">{{post.content|safe| truncatechars:100 }}</div>
                </p>
                <div class="my-2">
                    <a href="/articles/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
                </div>
            </div>
            <div class="col-auto d-none d-lg-block">

            </div>
        </div> -->