{% extends 'base.html' %}

{% block title %} Contact {% endblock title %}
{% block contactactive %} active {% endblock contactactive %}
{% block body %} 
<div class="container">
    <h2>Create your blog</h2>
    <form method="post" action="{% url 'create' %}">
    {% csrf_token %}
        <div class="form-group">
            <label for="name">Title: </label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="title">
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            <textarea class="form-control" name="content" id="content" cols="30" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="name">Author: </label>
            <input type="text" class="form-control" name="author" id="author" aria-describedby="author">
        </div>
        <div class="form-group">
            <label for="name">Slug: </label>
            <input type="text" class="form-control" name="slug" id="slug" aria-describedby="slug">
        </div>
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock body %}