{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block body %}
{% load static %}
<style>
	.sec1-card1 img{
		height:100%;
		WIDTH:100%;
	}

	.navbar-collapse {
		width: auto !important;
	}
</style>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
	integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&family=Roboto&family=Ubuntu:wght@700&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'studenthome.css'%}">
{% ifequal role "null" %}

<div class="role-box" style="width:50%;">
	<div>
		<h3>Select a role which best describe you</h3>
		<form action="/setrole" method="post">
			{% csrf_token %}
			<div class="form" style="font-size: 24px;width:80%;display: flex;justify-content: space-between;">

				<div class="options">
					<input type="radio" name="role" id="teacher" value="Teacher">
					<label for="teacher">I am a teacher</label>
				</div>
				<div class="options">
					<input type="radio" name="role" id="student" value="Student" checked>
					<label for="teacher">I am a Student</label>
				</div>
			</div>
			<button type="submit" class="w3-btn">Submit</button>
		</form>
	</div>
</div>
{% else %}
<section class="header">
	<div class="header-with-image">
		<div class="head_text">
			<h2 class="head_heading">Welcome...<br>to the classroom</h2>
			<p class="head_para">Repetitivity in substance gets fatigue address. So we have come us with truly cool
				classes with some extraordinary substance to expand interest and understanding of students.</p>
		</div>
		<img src="static/photos/top.png" class="head_photo">
	</div>
</section>
<div class="games-heading">
	<h1>Games</h1>
</div>
<section class="games-sec1">
	<div class="elementary">
		<h3>Elementary Grade</h3>
	</div>
	<div class="cards">
		<div class="GIF">
			<div class="photo1">
				<img src="static/photos/Gradient.png" class="gradient">
			</div>
			<div class="video1">
				<img src="static/photos/video1.gif" class="gif-img">
			</div>
		</div>
		<div class="sec1-card1">
            <img src="{% static 'photos/ele1.png' %}" alt="" srcset="">
			<div class="inner-card">

			</div>
		</div>
		<div class="sec1-card1">
            <img src="{% static 'photos/ele2.png' %}" alt="" srcset="">
			<div class="inner-card">

			</div>
		</div>
	</div>
	<div class="viewmore">
		<a data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false"
			aria-controls="collapseExample1">View More</a>
	</div>
	<div class="collapse click-cards" id="collapseExample1">
		<div class="sec1-card1">
			<div class="inner-card">

			</div>
		</div>
		<div class="sec1-card1">
			<div class="inner-card">

			</div>
		</div>
		<div class="sec1-card1">
			<div class="inner-card">

			</div>
		</div>
	</div>
</section>

<section class="games-sec2">
	<div class="secondary">
		<h3>Middle Grade</h3>
	</div>
	<div class="cards">
		<div class="sec1-card1">
            <img src="{% static 'photos/mid1.png' %}" alt="" srcset="">
			<div class="inner-card">

			</div>
		</div>
		<div class="sec1-card1">
            <img src="{% static 'photos/mid2.png' %}" alt="" srcset="">
			<div class="inner-card">

			</div>
		</div>
		<div class="GIF">
			<div class="photo2">
				<img src="static/photos/Gradient.png" class="gradient">
			</div>
			<div class="video2">
				<img src="static/photos/video2.gif" class="gif-img">
			</div>
		</div>
	</div>
	<div class="viewmore">
		<a data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false"
			aria-controls="collapseExample2">View More</a>
	</div>
	<div class="collapse click-cards" id="collapseExample2">
		<div class="sec1-card1">
         
			<div class="inner-card">

			</div>
		</div>
		<div class="sec1-card1">
			<div class="inner-card">

			</div>
		</div>
		<div class="sec1-card1">
			<div class="inner-card">

			</div>
		</div>
	</div>
</section>

<section class="games-sec3">
	<div class="tertiary">
		<h3>Secondary Grade</h3>
	</div>
	<div class="cards">
		<div class="GIF">
			<div class="photo3">
				<img src="static/photos/Gradient.png" class="gradient">
			</div>
			<div class="video3">
				<img src="static/photos/video3.gif" class="gif-img">
			</div>
		</div>
		<div class="sec1-card1">
            <img src="{% static 'photos/sec1.png' %}" alt="" srcset="">
			<div class="inner-card">

			</div>
		</div>
		<div class="sec1-card1">
            <img src="{% static 'photos/sec2.png' %}" alt="" srcset="">
			<div class="inner-card">

			</div>
		</div>
	</div>
	<div class="viewmore">
		<a data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false"
			aria-controls="collapseExample3">View More</a>
	</div>
	<div class="collapse click-cards" id="collapseExample3">
		<div class="sec1-card1">
			<div class="inner-card">

			</div>
		</div>
		<div class="sec1-card1">
			<div class="inner-card">

			</div>
		</div>
		<div class="sec1-card1">
			<div class="inner-card">

			</div>
		</div>
	</div>
</section>

{% comment %} <div class="footer">
	<div class="aboutcompany" style="margin-left: 3%;">
		<h3>About the Company</h3>
		<p class="abouttext">Mycrobites is platform to grow your mind in the field of coding by some really interesting
			activities.</p>
		<div class="icons" style="margin:0; padding: 0;">
			<i class="fas fa-map-marker-alt"></i>
			<p>XYZ</p><br>
			<i class="fas fa-phone-alt"></i>
			<p>+91-9999999999</p><br>
			<i class="fas fa-envelope"></i>
			<p><a href="mailto:Care.mycrobites@gmail.com" target="_blank"
					style="font-size: 0.9em;">Care.mycrobites@gmail.com</a></p>
		</div>
	</div>
	<div class="keepintouch">
		<h1>KEEP IN TOUCH</h1>
		<a href="https://www.facebook.com/104481688199372/posts/104499351530939/?substory_index=0&flite=scwspnss"
			target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a>
		<a href="https://instagram.com/mycrobytes?igshid=15h3fwr4mz23j" target="_blank"><i
				class="fab fa-instagram-square fa-3x"></i></a>
		<a href="https://www.linkedin.com/in/mycro-bites-955534201" target="_blank"><i
				class="fab fa-linkedin fa-3x"></i></a>
	</div>
	<div class="newsletter">
		<h1>Subscribe Newsletter</h1>
		<input type="email" class="form-control form" placeholder="Your email">
		<button type="button" class="btn btn-primary">Subscribe</button>
	</div>
</div> {% endcomment %}
{% endifequal %}
{% endblock body %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
	integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
	integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
	crossorigin="anonymous"></script>
<script src="js/index.js"></script>
</body>

</html>