
{% extends 'base.html' %}

{% block title %} Blog {% endblock title %}

{% block js %}
<script>
    let previews = document.getElementByClassName('preview');
    Array.from(previews).forEach((element) => {
        element.innerHTML = element.innerText;
    })
</script>
{% endblock js %}
{% block body %}

<center><h1><a href="/quiz/">Start Quiz</a></h1></center>

{% endblock%}