{% extends 'base.html' %}
{% block title %} Blogpost{% endblock title %}
{% block body %}

<div class="container my-3">
    <h2 class="blog-post-title">{{post.title}}</h2>
    <p class="blog-post-meta">{{post.timeStamp}} by <a href="/about">{{post.author}}</a></p>
    <p>{{post.content|safe}}</p>
    
   <hr>
    <div class="container">
    <h5>Simulation for {{post.title}}</h5>
            
     <iframe width="500" height="380" src="{{post.simulation}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<hr>
<div class="container">
<h5>This is an Informative Video about {{post.title}} to help ensure success in the Simulation as well as test</h5>
        
        
        <iframe width="500" height="380" src="{{post.video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <hr>
    </div>

</div>

        


{% endblock %}