{% extends 'teacherbase.html' %}

{% block title %} Create Quiz {% endblock title %}
{% block body %} 

<h2>{{ note }}</h2>
<html>
{% load static %}
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{% static 'tan-light.css' %}">

</head>

<body>
  <div class="qfc-container">
    <h2>Create Quiz</h2>
    <label>Teachers can directly create quiz related to topic and save into database from here.(You will get one point in your teacher points)</label>
    <form enctype="Multipart/form-data" action="{% url 'createquiz'%}" method="post">
    {% csrf_token %}
    {{ quizform}}
    <input type="submit" value="submit">
    
      


{% endblock body %}


{% comment %} <!-- script -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
          <script src="form-validation.js"></script></body> {% endcomment %}