{% extends 'teacherbase.html' %}

{% block title %} Create Course {% endblock title %}
{% block body %} 

<h2>{{ note }}</h2>
<html>
{% load static %}
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  
  <link rel="stylesheet" href="{% static 'course.css' %}">

</head>
<body>
   <center><aside><h2>Create Course</h2>
   <label>Teachers can directly create course related to topic and save into database from here.(You will get one point in your teacher points)</label></aside></center>
  <div class="formss">
   
  
    <form enctype="Multipart/form-data" action="{% url 'createcourse'%}" method="post">
    {% csrf_token %}
    {{ courseform.media }}
    {{ courseform.as_p}}
     <button class="btn1" type="submit" value="submit">Submit</button>
    </div>
    
  
   
    

    
    
      


{% endblock body %}