{% extends 'teacherbase.html' %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
 {% block body %}
  {% load static %}
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'teacherhome.css' %}">
  <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %} {% endblock %}
</head>

<body>
  <!-- Navbar  -->

  {% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">C cube</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="/">Student Portal<span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item {% block contactactive %} {% endblock contactactive %}">
          <a class="nav-link" href="{% url 'createquiz' %}">Create Quiz</a>
        </li>
        <li class="nav-item {% block joinus %} {% endblock joinus %}">
          <a class="nav-link" href="{% url 'joinus' %}">Join Us</a>
        </li>
        

      </ul> {% endcomment %}
      {% comment %} <form class="form-inline my-2 my-lg-0 ml-auto">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 m-2" type="submit">Search</button>
      </form>

        {% if user.is_authenticated %}
      <ul class="navbar-nav mr-3">
        <li class="nav-item dropdown">
          
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Welcome {{request.user}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">My history</a>
              <a class="dropdown-item" href="#">bb here</a>
              <a class="dropdown-item" href="/accounts/logout">Logout</a>
            </div>
          </div>
        </li>
      </ul>
          
      {% else %}
      <ul class="navbar-nav ">
        <li class="nav-item m-1">
        
          <a class="nav-link btn btn-danger text-light" href="/accounts/login">Login</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link btn btn-primary text-light" href="/accounts/signup">Signup</a>
        </li>


      </ul>
      {% endif %}

    </div>
  </nav>
 {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
    <strong>Message: </strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
    {% endif %} {% endcomment %}

 
  <div class="attop">
    <h1>Make Your Own Classroom</h1>
    <h4> To handle those bags full of curiosity we have have bought<br/> up a chain of interesting yet knowledge giving activities which can be<br /> included into your classes to enhance the productivity of your classes.</h4>
  </div>

  <img class="top" src="/static/photos/teacherdesign.png" alt="">

  <section id="classroom">
    <h6>Set up your classroom</h6>
    <div class="progress">
      <p>Create a new classroom section to start assigning courses<button class="create" type="button" name="Create">Create</button> <br />and seeing your student progress.</p></div>
  </section>

  <section id="mycourses">
    <button class="courses" type="button" name="button">My Courses</button>
    <div class="cards">
    <div class="card">
        <img src="/static/photos/download (1).jpg" alt=""  style="height: 200px; width: 300px; padding:5px;"/>
        <div class="card-body">
            <h6>Energy and Momentum</h6>
            <p>Energy is the ability to do work. Energy is a conserved quantity and the law of conservation of energy states that energy can neither be created nor destroyed  </p>
            {% comment %} <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, sit? Nesciunt porro.adipisicing elit. Sed, sit? Nesciunt porro.</p> {% endcomment %}
            <div>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="/static/photos/python-1.jpg" alt=""  style="height: 200px; width: 300px; padding:5px;"/>
        <div class="card-body">
            <h6>Python</h6>
            <p>Python is a general-purpose coding language—which means that it can be used for programming and software development besides web development.</p>
            {% comment %} <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, sit? Nesciunt porro.adipisicing elit. Sed, sit? Nesciunt porro.</p> {% endcomment %}
            <div>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="/static/photos/maxresdefault.jpg" alt=""  style="height: 200px; width: 300px; padding:5px;"/>
        <div class="card-body">
            <h6>force</h6>
            <p>A force is a push or pull upon an object resulting from the object's interaction with another object. </p>
            {% comment %} <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, sit? Nesciunt porro.adipisicing elit. Sed, sit? Nesciunt porro.</p> {% endcomment %}
            <div>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
  </div>
</section >

<section id="articles">
  <button class="article" type="button" name="button">Articles</button><br>
  <div class="articl">
    <img class="image" src="http://ckinknoazoro.files.wordpress.com/2011/06/random.jpg" alt="">
<div class="para">
  <h3>Sunday</h3><br>
  <h3>October 27, 2020</h3>
  <p>The world is shifting at an incredible pace, are
you ready to skill up?Enter the journey towards
building your digital literacy skills. W3Schools'
certificates prove fundamental knowledge
of web development. Start to build your profile
by choosing a certification from our
acknowledged selection.</p>
<button class="read" type="button" name="button">Read more</button>
</div>
</div>
  </section>

  <section id="footer">
<div class="row">
  <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
    <h5>About the column</h5>
    <p class="text">Mycrobites is platform to grow your mind in the field of coding by some really interesting activities.</p>
    <i class="fas fa-map-marker-alt"></i>
    <p class="add">Address - 35-C, Pocket-4, Mayur Vihar, Phase-1, Delhi-110091</p><br>
    <i class="fas fa-phone-alt"></i>
    <p class="num">8826401291, 9811942894</p><br>
    <i class="fas fa-envelope"></i>
    <p class="mail"><a href="mailto:Care.tech@mycrobites.com" target="_blank" style="font-size: 0.9em;">Care.mycrobites@gmail.com</a></p>
  </div>
  <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
    <h5>KEEP IN TOUCH</h5>
    <div class="icons">
    <a href="https://www.facebook.com/104481688199372/posts/104499351530939/?substory_index=0&flite=scwspnss" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
    <a href="https://instagram.com/mycrobytes?igshid=15h3fwr4mz23j" target="_blank"><i class="fab fa-instagram-square fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/mycro-bites-955534201" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
  </div>

  </div>
  <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
    <h5>Subscribe Newsletter</h5>
    <input type="email" class="form-control form" placeholder="Your email">
    <button type="button" class="btn btn-primary">Subscribe</button>
  </div>

</div>

  </section>

   {% endblock body %}
  {% block content %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

  <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
</body>

</html>