{% extends 'teacherbase.html' %}

{% block title %} Create Quiz {% endblock title %}
{% block body %} 

<h2>{{ note }}</h2>
<html>
{% load static %}
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{% static 'joinus.css' %}">

</head>

<body>
  <center><aside>
    <h2>Join Us</h2>
    <label>Fill this form for us to get back to you regarding the work</label></aside></center>
    <div class="formss">
    <form action="{% url 'joinus'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ joinform.as_p}}
    <button class="btn1" type="submit" value="submit">Submit</button>
    
    <!-- <form method="post" action="{% url 'joinus'%}">
    {% csrf_token %}
      <div>
        <label>Describe Yourself</label>
        <div>
          <textarea placeholder="Eg. Enter Your Bio Here"></textarea>
        </div>
      <div>
        
        <div>
            <input placeholder="Email Address" type="email" required>
        </div>
        <div>
          <div>
            <input type="checkbox" checked="checked">
            <label>Send you a copy of Response</label>
          </div>
        </div>
        <div>
          <label>Experience </label>
          <select id>
                        <option disabled selected value="--">Select the Experience </option>
                        <option value="1-2 Years">1-2 Years</option>
                        <option value="3-5 Years">3-5 Years</option>
                        <option value="More than 5 years">More than 5 years</option>
                    </select>
        </div>
        
        <div>
          <label>Subject of Expertise</label>
          <select multiple>
                        <option value="Physics">Physics</option>
                        <option value="Chemistry">Chemistry</option>
                        <option value="Biology">Biology</option>
                        <option value="Maths">Maths</option>
                    </select>
        </div>
        
        </div>
        <div>
          <label>Attach a photo</label>
          <div>
            <input type="file" id>
          </div>
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </div>
    </form> -->
  </div>
  
</body>
</html>


{% endblock body %}


<!-- script -->
        