{% extends 'teacherbase.html' %}

{% block title %} Course {% endblock title %}

{% block js %}
<script>
    let previews = document.getElementByClassName('preview');
    Array.from(previews).forEach((element)=>{
        element.innerHTML = element.innerText;
    })
</script>
{% endblock js %}

{% block enrollactive %} active {% endblock enrollactive %}
{% block body %}
<style>
body{
    padding: 0;
    margin: 0;
    width: 100%;
    /* min-height: 100vh; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-family: sans-serif;
    /* flex-wrap: wrap; */
}
.card{
    position: relative;
    width: 300px;
    height: 200px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0 0 13px 0px rgba(0,0,0,.3);
    transition: .5s;
    overflow: hidden;
    margin: .85rem;
}
.card:hover{
    height: 397px;
}

.card img{
    width: 100%;
    border-radius: 16px;
    transition: .5s;
}
.card:hover img{
    border-radius: 16px 16px 0 0;
}

.card .card-body{
    padding: .5rem .85rem 1rem;
    height: 0;
}

.card .card-body h6{
    margin: .5rem 0;
    font-size: .85rem;
    color: crimson;
    letter-spacing: 3px;
}

.card .card-body p{
    text-align: justify;
    font-size: .9rem;
    line-height: 25px;
}

.card .card-body div{
    text-align: right;
    width: 100%;
}

.card .card-body div a{
    position: relative;
    text-decoration: none;
    color: #526ffd;
    padding: .5rem;
    text-align: center;
    z-index: 999;
    font-size: .85rem;
}


.card .card-body div a:hover{
  background-color: #526ffd;
  color: white;
  border-radius: 300px;
}

.card .card-body div a:hover::before{
    width: 100%;
    height: 88%;
    left: 0;
}
</style>


        <div id="center" style="margin-left: 130pt;">
        
<div class="container my-3" >
    <h3> Courses:</h3>
    <div class="row">
    {% for i in allpost %}
    <div class="card" style="width: 18rem; margin-left:20pt;">
      <img src="/media/{{i.image}}" style="height: 184px; width: 284px; padding:5px; margin-top: 5px;" alt="...">
      
  <div class="card-body">
    <h5>{{i.title}}</h5>
    <p >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <div>
  {% comment %} <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Subject:{{i.subject}}</strong></li>
    
  </ul> {% endcomment %}

    <a href="/teacher/{{i.slug}}" role="button">Continue reading</a>
            {% comment %} <a href="{% url 'deroll' post.post.slug %}" role="button" class="btn btn-success">DEROLL</a> {% endcomment %}
  </div>
</div>
  </div>
    
    
    


    {% endfor %}
    </div>    </div>

{% endblock body %}