{% extends 'base.html' %}

{% block title %} Blog {% endblock title %}

{% block js %}
<script>
  let previews = document.getElementByClassName('preview');
  Array.from(previews).forEach((element) => {
    element.innerHTML = element.innerText;
  })
</script>
{% endblock js %}

{% block blogactive %} active {% endblock blogactive %}
{% block body %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

  * {
      box-sizing: border-box;
  }

  body{
  padding: 0;
  margin: 0;
  width: 100%;
  
  font-family: sans-serif;
  
}
.card{
  position: relative;
  width: 300px;
  height: 200px;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 0 0 13px 0px rgba(0,0,0,.3);
  transition: .5s;
  overflow: hidden;
  margin: .85rem;
}
.card:hover{
  height: 397px;
}

.card img{
  width: 100%;
  border-radius: 16px;
  transition: .5s;
}
.card:hover img{
  border-radius: 16px 16px 0 0;
}

.card .card-body{
  padding: .5rem .85rem 1rem;
  height: 0;
}

.card .card-body h6{
  margin: .5rem 0;
  font-size: .85rem;
  color: crimson;
  letter-spacing: 3px;
}

.card .card-body p{
  text-align: justify;
  font-size: .9rem;
  line-height: 25px;
}

.card .card-body div{
  text-align: right;
  width: 100%;
}

.card .card-body div a{
  position: relative;
  text-decoration: none;
  color: #526ffd;
  padding: .5rem;
  text-align: center;
  z-index: 999;
  font-size: .85rem;
}



.card .card-body div a:hover{
  background-color: #526ffd;
  color: white;
  border-radius: 300px;
}

.card .card-body div a:hover::before{
  width: 100%;
  height: 88%;
  left: 0;
}
  
</style>


<div class="container my-3">
  <h2>Courses:</h2>
  <div class="row">

    {% for post in allPosts %}



    <div class="card" style="width: 18rem; margin-left:20pt;">
      <img src="/media/{{post.image}}" alt=""  style="height: 184px; width: 284px; padding:5px; margin-top: 5px;"/>
      <div class="card-body">
          <h6>{{post.post.title}}</h6>
          <p>Some quick example text to build on the card title and make up the bulk of
              the card's content.<div>
              
              {% if post.check_enroll %}
        <a href="{% url 'deroll' post.slug %}" >DEROLL</a>
        {% else %}
        <a href="{% url 'enroll' post.slug %}" style="float: left;" >ENROLL</a>
        <a href="{% url 'payment' %}" >Pay</a>


        {% endif %}
          </div>
      </div>
  </div>

    <!-- <div class="card" style="width: 18rem; margin-left:20pt;">
      <img src="/media/{{post.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}
            ({{post.views}} views)</strong></li>
      </ul>
      <div class="card-body">
        {% if post.check_enroll %}
        <a href="{% url 'deroll' post.slug %}" role="button" class="btn btn-primary">DEROLL</a>
        {% else %}
        <a href="{% url 'enroll' post.slug %}" role="button" class="btn btn-primary">ENROLL</a>
        <a href="{% url 'payment' %}" role="button" class="btn btn-primary">Pay</a>


        {% endif %}
      </div>
    </div> -->


    {% endfor %}
  </div>
  {% endblock body %}