{% extends 'base.html' %}
{% load static %}
{% block title %} Blogpost{% endblock title %}
{% block body %}
{% load humanize %}
{% load extras %}

<!-- <script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
</script> -->
<link rel="stylesheet" type="text/css" href="{% static 'sidebar.css' %}">
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
}


body {
    margin: 0px;
    padding: 0px;
    /*text-align: center; */
}

#wrapper {
    padding: 10px;
    background:rgb(248, 247, 247);
    display: block;
    width: 100%;
}

#center {
    padding-left: 20pt;
    

}

#left {
    margin-top: 5pt;
    width: 190px;
    float: left;
    z-index:200;

}

#right {
    float: right;
    width: 300px;
    margin-top: 10pt;

}

.left-sidebar1 {
    background: white;
    box-shadow: 12px 0px 19px rgb(240, 238, 238);
    margin: 0;
    padding: 0;
    

}



.left-sidebar1 a {
    font-size: 13px;
    padding: 9px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    color: white;
    display: block;

}

.fa {
    align-items:flex-end;

}

.left-sidebar1 a {
    color: rgba(78, 78, 78, 0.84);

    text-align: left;


}
.left-sidebar1 a current{
    color:red;
}

.left-sidebar1 a:hover {
    padding-left: 14pt;
    color: black;
}








</style>
<div id="wrapper">
    
    
    <div id="left">
        <div class="btn">
      <span class="fas fa-bars"></span>
    </div>
<nav class="sidebar">
<ul>
<li class="active"><a onclick="myFunction()" >Dashboard </a></li>
<li><a href="{% url 'quiz'%}">Quiz </a></li>
<li><a href="/blog/video?post={{slug}}">Video </a></li>
<li><a href="/blog/simulations?post2={{slug}}">Simulation</a></li>
<li><a href="{% url 'forum'%}">Forum</a></li>
<li><a href="#">Groups</a></li>
<li><a href="#">Rewards</a></li>
<li><a href="#">Forum</a></li>
<li><a href="#">Groups</a></li>

</ul>
</nav>
    <div class="content">
      <div class="header">
</div>
<p>
</p>
</div>


              


              


        </div>

        <div id="center" >
<div class="container my-3" style="padding-left: 100pt;">
    <div aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><h2 class="blog-post-title" ><img src="/media/{{post.image}}" width="70" height="70">  {{post.title}}</h2></li>
  </ol>
</div>
    <p>{{post.content|safe}}</p>
    {% comment %} <iframe src="https://phet.colorado.edu/sims/html/balancing-act/latest/balancing-act_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe> {% endcomment %}

    <a href="{% url 'review' %}">Review the course</a>
    <hr>
    {% comment %} <a href="{% url 'welcome'%}" role="button" class="btn btn-primary "col> Quiz </a>
    <a href="{% url 'video'%}" role="button" class="btn btn-primary " col> Video </a>
    <a href="{% url 'simulations'%}" role="button" class="btn btn-primary " col> simulation </a> {% endcomment %}
    

</div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="{%static 'sidebar.js' %}"></script>

{% endblock %}