{% extends 'base.html' %}
{% load static %}

{% block title %} Blog {% endblock title %}

{% block js %}
<script>
    let previews = document.getElementByClassName('preview');
    Array.from(previews).forEach((element) => {
        element.innerHTML = element.innerText;
    })
</script>
{% endblock js %}

{% block enrollactive %} active {% endblock enrollactive %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'sidebar.css' %}">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

    * {
        box-sizing: border-box;
    }


    #wrapper {
        background: rgb(248, 247, 247);
        padding: 10px;
        display: block;
        width: 100%;
    }

    #center {
        margin-left: 10pt;
    }
    #right {
        float: right;
        width: 300px;
        margin-top: 10pt;

    }

    #left{
        z-index:200;
    }

    /*.left-sidebar1 {
        background: white;
        box-shadow: 12px 0px 19px rgb(238, 236, 236);
        margin: 0;
        padding: 0;
        z-index:200;

    }



    .left-sidebar1 a {
        font-size: 13px;
        padding: 9px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        font-family: 'Roboto Mono', monospace;
        font-weight: 600;
        color: white;
        display: block;

    }

    .left-sidebar1 a {
        color: rgba(78, 78, 78, 0.84);

        text-align: left;


    }

    .left-sidebar1 a:hover {
        padding-left: 14pt;
        color: black;


    }*/
    body{
    padding: 0;
    margin: 0;
    width: 100%;
    /* min-height: 100vh; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-family: sans-serif;
    /* flex-wrap: wrap; */
}
.card{
    position: relative;
    width: 300px;
    height: 200px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0 0 13px 0px rgba(0,0,0,.3);
    transition: .5s;
    overflow: hidden;
    margin: .85rem;
}
.card:hover{
    height: 397px;
}

.card img{
    width: 100%;
    border-radius: 16px;
    transition: .5s;
}
.card:hover img{
    border-radius: 16px 16px 0 0;
}

.card .card-body{
    padding: .5rem .85rem 1rem;
    height: 0;
}

.card .card-body h6{
    margin: .5rem 0;
    font-size: .85rem;
    color: crimson;
    letter-spacing: 3px;
}

.card .card-body p{
    text-align: justify;
    font-size: .9rem;
    line-height: 25px;
}

.card .card-body div{
    text-align: right;
    width: 100%;
}

.card .card-body div a{
    position: relative;
    text-decoration: none;
    color: #526ffd;
    padding: .5rem;
    text-align: center;
    z-index: 999;
    font-size: .85rem;
}


.card .card-body div a:hover{
  background-color: #526ffd;
  color: white;
  border-radius: 300px;
}

.card .card-body div a:hover::before{
    width: 100%;
    height: 88%;
    left: 0;
}
    
</style>
<div id="wrapper">


    <div id="left">
        <div class="btn">
      <span class="fas fa-bars"></span>
    </div>
<nav class="sidebar">
<ul>
<li class="active"><a href="#">Dashboard</a></li>
<li><a href="#">Courses Enrolled</a></li>
<li><a href="#">Courses Completed</a></li>
<li><a href="#">Rewards</a></li>
<li><a href="{% url 'forum'%}">Forum</a></li>
<li><a href="#">Groups</a></li>
<li><a href="#">Rewards</a></li>
<li><a href="{% url 'forum'%}">Forum</a></li>
<li><a href="#">Groups</a></li>

</ul>
</nav>
    <div class="content">
      <div class="header">
</div>
<p>
</p>
</div>

        <!-- <div class="left-sidebar1">

            <a href="#">Dashboard</a><br>
            <a href="#">Courses Enrolled</a><br>
            <a href="#">Courses Completed</a><br>
            <a href="#">Rewards</a><br>
            <a href="{% url 'forum'%}">Forum</a><br>
            <a href="#">Groups</a><br>
            <a href="#">Rewards</a><br>
            <a href="#">Forum</a><br>
            <a href="#">Groups</a><br>


        </div> -->


    </div>

    <div id="center" style="margin-left: 130pt;">

        <div class="container my-3">
            <h3> My Courses:</h3>
            <div class="row">
                {% for post in allPosts %}


                <div class="card" style="width: 18rem; margin-left:20pt;">
                    <img src="/media/{{post.post.image}}" alt=""  style="height: 184px; width: 284px; padding:5px; margin-top: 5px;"/>
                    <div class="card-body">
                        <h6>{{post.post.title}}</h6>
                        <p>Some quick example text to build on the card title and make up the bulk of
                            the card's content.<div>
                            <a href="/blog/{{post.post.slug}}">Read More</a>
                        </div>
                    </div>
                </div>


                <!-- <div class="card" style="width: 18rem; margin-left:20pt;">

                    <div class="card-body">
                        <h5 class="card-title">{{post.post.title}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Article by {{post.post.author}} ({{post.post.views}}
                                views)</strong></li>

                    </ul>
                    <div class="card-body">
                        <a href="/blog/{{post.post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
                        <a href="{% url 'deroll' post.post.slug %}" role="button" class="btn btn-success">DEROLL</a>
                    </div>

                </div> -->





                {% endfor %}
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="{%static 'sidebar.js' %}"></script>

        {% endblock body %}