{% extends 'base.html' %}
{% load static %}

{% block title %} Contact {% endblock title %}
{% block body %} 
<link rel="stylesheet" type="text/css" href="{% static 'sidebar.css' %}">
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
}


body {
    margin: 0px;
    padding: 0px;
    background:rgb(248, 247, 247);
    /*text-align: center; */
}

#wrapper {
    padding: 10px;
    background:rgb(248, 247, 247);
    display: block;
    width: 100%;
}

#center {
    padding-left: 100pt;
    

}

#left {
    margin-top: 5pt;
    width: 190px;
    float: left;

}

#right {
    float: right;
    width: 300px;
    margin-top: 10pt;

}

.left-sidebar1 {
    background: white;
    box-shadow: 12px 0px 19px rgb(240, 238, 238);
    margin: 0;
    padding: 0;
    

}



.left-sidebar1 a {
    font-size: 13px;
    padding: 9px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    color: white;
    display: block;

}

.left-sidebar1 a {
    color: rgba(78, 78, 78, 0.84);

    text-align: left;


}

.left-sidebar1 a:hover {
    padding-left: 14pt;
    color: black;
}

</style>
<div id="wrapper">
    
    
    <div id="left">
        <div class="btn">
      <span class="fas fa-bars"></span>
    </div>
<nav class="sidebar">
<ul>
<li><a onclick="myFunction()" >Dashboard </a></li>
<li><a href="{% url 'quiz'%}">Quiz </a></li>
<li><a href="/blog/video?post={{slug}}">Video </a></li>
<li><a href="/blog/simulations?post2={{slug}}">Simulation</a></li>
<li class="active"><a href="{% url 'forum'%}">Forum</a></li>
<li><a href="#">Groups</a></li>
<li><a href="#">Rewards</a></li>
<li><a href="#">Forum</a></li>
<li><a href="#">Groups</a></li>

</ul>
</nav>
    <div class="content">
      <div class="header">
</div>
<p>
</p>
</div>
    </div>
    <div id="center" >
        <div class="container my-3" style="padding-left: 85pt;">
            <h5>Feel free to discuss your queries!!</h5>
            <div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://c-cube.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            
        
        </div>
        </div>
    <!-- <div id="center" >
    <div class="container" style=padding-left:100pt>
        <h2>Simulations</h2>
        <iframe src="https://phet.colorado.edu/sims/html/balancing-act/latest/balancing-act_en.html" width="700" height="480" scrolling="no" allowfullscreen></iframe>
        
    </div>
    <a href="{% url 'welcome'%}" role="button" class="btn btn-primary "col> Quiz </a>
    <a href="{% url 'video'%}" role="button" class="btn btn-primary " col> Video </a>

</div> -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="{%static 'sidebar.js' %}"></script>

{% endblock body %}