{% extends 'base.html' %}

{% block title %} Quiz {% endblock title %}

{% block js %}
<script>
    let previews = document.getElementByClassName('preview');
    Array.from(previews).forEach((element)=>{
        element.innerHTML = element.innerText;
    })

</script>
<script type="text/javascript" src="static/script.js">
console.log('sss')
</script>
{% endblock js %}
{% block enrollactive %} active {% endblock enrollactive %}

{% block body %} 


<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
    
    * {
        box-sizing: border-box;
    }
    
    
    body {
        margin: 0px;
        padding: 0px;
        /*text-align: center; */
    }
    
    #wrapper {
        padding: 10px;
        background:rgb(248, 247, 247);
        display: block;
        width: 100%;
    }
    
    #center {
        padding-left: 20pt;
        
    
    }
    
    #left {
        margin-top: 5pt;
        width: 190px;
        float: left;
    
    }
    
    #right {
        float: right;
        width: 300px;
        margin-top: 10pt;
    
    }
    
    .left-sidebar1 {
        background: white;
        box-shadow: 12px 0px 19px rgb(240, 238, 238);
        margin: 0;
        padding: 0;
        
    
    }
    
    
    
    .left-sidebar1 a {
        font-size: 13px;
        padding: 9px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        font-family: 'Roboto Mono', monospace;
        font-weight: 600;
        color: white;
        display: block;
    
    }
    
    .left-sidebar1 a {
        color: rgba(78, 78, 78, 0.84);
    
        text-align: left;
    
    
    }
    
    .left-sidebar1 a:hover {
        padding-left: 14pt;
        color: black;
    }
    
    
    
    
    
    
    
    
    </style>
    <div id="wrapper">
        
        
        <div id="left">
    
                  <div class="left-sidebar1">
                          
                        <a href="{% url 'bloghome'%}">Dashboard</a><br>
                        <a href="{% url 'welcome'%}">Quiz</a><br>
                        <a href="{% url 'video'%}">Video</a><br>
                        <a href="{% url 'simulations'%}">Simulation</a><br>
                         <a href="{% url 'forum'%}">Forum</a><br>
                         <a href="#">Groups</a><br>
                         <a href="#">Rewards</a><br>
                         <a href="#">Forum</a><br>
                         <a href="#">Groups</a><br>
                         
                         
                  </div>
    
    
                  
    
    
            </div>

    <div class="container my-3" style="margin-left:100pt ;" >
        <h2>Quiz </h2>
        
        <div class="row no-gutters border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative" >
            <div class="col p-4 d-flex flex-column position-static">
        {% for Ques in questions %}        
                <h3>{{Ques.question}}</h3>
        {% endfor%}

        {%for Resp in response%}
    <div>
        <input type="radio"  id="question-1-answers-A" value="A" />
        <label for="question-1-answers-A"> ans is{{Resp.option1}}</label>
    </div>
    
    <div>
        <input type="radio" id="question-1-answers-B" value="B" />
        <label for="question-1-answers-B">{{Resp.option2}}</label>
    </div>
    
    <div>
        <input type="radio"  id="question-1-answers-C" value="C" />
        <label for="question-1-answers-C">{{Resp.option3}}</label>
    </div>
    
    <div>
        <input type="radio"  id="question-1-answers-D" value="D" />
        <label for="question-1-answers-D">{{Resp.option4}}</label>
    </div>

</li>
        {%endfor%}

<input type="submit" value="Submit Quiz" />

            </div>
            
            </div>
        </div>
    




<!-- code  -->


{% endblock body %}