{% extends 'base.html' %}
{% load static %}

{% block title %} Contact {% endblock title %}
{% block body %} 
<link rel="stylesheet" type="text/css" href="{% static 'sidebar.css' %}">
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
}


body {
    margin: 0px;
    padding: 0px;
    background:rgb(248, 247, 247);
    /*text-align: center; */
}

#wrapper {
    padding: 10px;
    background:rgb(248, 247, 247);
    display: block;
    width: 100%;
}

#center {
    padding-left: 20pt;
    

}

#left {
    margin-top: 5pt;
    width: 190px;
    float: left;

}

#right {
    float: right;
    width: 300px;
    margin-top: 10pt;

}

.left-sidebar1 {
    background: white;
    box-shadow: 12px 0px 19px rgb(240, 238, 238);
    margin: 0;
    padding: 0;
    

}



.left-sidebar1 a {
    font-size: 13px;
    padding: 9px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    color: white;
    display: block;

}

.left-sidebar1 a {
    color: rgba(78, 78, 78, 0.84);

    text-align: left;


}

.left-sidebar1 a:hover {
    padding-left: 14pt;
    color: black;
}








</style>
<div id="wrapper">
    
    
    <div id="left">
        <div class="btn">
      <span class="fas fa-bars"></span>
    </div>
<nav class="sidebar">
<ul>
<li><a onclick="myFunction()" >Dashboard </a></li>
<li><a href="{% url 'quiz'%}">Quiz </a></li>
<li class="active"><a href="/blog/video?post={{slug}}">Video </a></li>
<li><a href="/blog/simulations?post2={{slug}}">Simulation</a></li>
<li><a href="{% url 'forum'%}">Forum</a></li>
<li><a href="#">Groups</a></li>
<li><a href="#">Rewards</a></li>
<li><a href="#">Forum</a></li>
<li><a href="#">Groups</a></li>

</ul>
</nav>
    <div class="content">
      <div class="header">
</div>
<p>
</p>
</div>




              


        </div>

<!-- code  -->
<div id="center" >
    <div class="container my-3" style="padding-left: 85pt;">
        <h5>This is an Informative Video about {{post.title}} to help ensure success in the Simulation as well as test</h5>
        {% comment %} <h2 class="blog-post-title" style="padding-left: 20pt;" >{{post.title}}</h2> {% endcomment %}
        {% comment %} <p class="blog-post-meta" style="padding-left: 20pt;">{{post.timeStamp}} {{post.author}}</p> {% endcomment %}
        
        <iframe width="700" height="480" src="{{post.video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <hr>
         {% comment %} <a href="{% url 'quiz'%}" role="button" class="btn btn-primary " col> Quiz </a>
         <a href="/blog/simulations?post2={{slug}}" role="button" class="btn btn-primary " style="margin-left:405pt" col> simulation </a> {% endcomment %}

        
    
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="{%static 'sidebar.js' %}"></script>


{% endblock body %}
