<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %} {% endblock %}
</head>
<style>
      
      @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

      .navbar{
      background:#2E3957;

    }
    .navbar-brand{
      background:transparent;
      font-size:21pt !important;
      color:white;
      
      font-family: 'Ubuntu', sans-serif;
    }

    .navbar-brand:hover{
      font-size:21pt;
      color:#FFDE59;
    }


    .nav-link{

    font-size:12pt;
     font-family: 'Ubuntu', sans-serif;
     color:white;

    }

    .nav-link:hover{
      color:#FFDE59;
    }
    

    .nav ul li a{
      position: relative;
      color:white;
      text-decoration: none;
      font-size: 18px;
      padding-left: 40px;
      font-weight: 500;
      display: block;
      width: 100%;
      
    }

    .btnsam{
      padding:2pt;
      background:#FFDE59 !important;
      color:black !important;
    }
    .btnsam:active{
      padding:2pt;
      background:#FFDE59 !important;
      color:black !important;
    }

    .btnsam:hover{
      background:#FFDE59 !important;
      color:blue !important;
    }

    .btnsam:before{
      background:#FFDE59 !important;
      color:black !important;
    }
    

    
    

    
    

    </style>

<body>
  <!-- Navbar  -->

  <nav class="navbar navbar-expand-lg navbar ">
    <img src="/static/Untitled design (1).png" width="65" height="65" alt="">
    <a class="navbar-brand" href="#">MYCROBITES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="/">Student Portal<span class="sr-only">(current)</span></a>
        </li> -->
         <li class="nav-item ">
          <a class="nav-link" href="{% url 'createcourse' %}">Create Course</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'viewcourse' %}">View Course</a>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link" href="{% url 'createquiz' %}">Create Quiz</a>
        </li> {% endcomment %}
         <li class="nav-item ">
          <a class="nav-link" href="{% url 'joinus' %}">Join us</a>
        </li>
        

      </ul>
      

        {% if user.is_authenticated %}
      <ul class="navbar-nav ml-3">
        <li class="nav-item dropdown">
          
          <div class="dropdown">
            <button class="btnsam btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Welcome {{request.user}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">My history</a>
              <a class="dropdown-item" href="#">bb here</a>
              <a class="dropdown-item" href="/accounts/logout">Logout</a>
            </div>
          </div>
        </li>
      </ul>
          
      {% else %}
      <ul class="navbar-nav ">
        <li class="nav-item m-1">
        
          <a class="nav-link btn btn-danger text-light" href="/teacher/login">Login</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link btn btn-primary text-light" href="/teacher/signup">Signup</a>
        </li>


      </ul>
      {% endif %}

    </div>
  </nav>
 {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
    <strong>Message: </strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
    {% endif %}

  {% block body %} {% endblock body %}
  {% block content %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

  <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
</body>

</html>