{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block head_title %}

{% trans "Sign In" %}{% endblock %}



{% block content %}

<link rel="stylesheet" href="{% static  'login.css' %}">


<!-- <section id="main" class="wrapper my-3 py-3">
  <div class="inner">
    <div class="container">
      <div class="row" style="text-align: left;">
        <aside class="col-lg-6" style="float:none;margin:auto;">
          <div class="card border border-primary">
            <article class="card-body">
              <a href="{{ signup_url }}" class="float-right btn btn-outline-primary">Sign up</a>
              <h4 class="card-title mb-4 mt-1">Sign in</h4>
              <p>
                <a href="http://127.0.0.1:8000/accounts/google/login/?process=login"
                  class="btn btn-block btn-outline-danger"> <i class="icon fa-google  "></i> Login via Google</a>

              </p>
              <hr>
              <h6 style="text-align: center; ">Or</h6>
              <hr>
              <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div id="div_id_login" class="form-group"> <label for="id_login" class=" requiredField">
                    Username<span class="asteriskField">*</span> </label>
                  <div class=""> <input type="text" name="login" placeholder="Username" autofocus="autofocus"
                      maxlength="150" class="textinput textInput form-control" required id="id_login"> </div>
                </div>
                <div id="div_id_password" class="form-group"> <label for="id_password" class=" requiredField">
                    Password<span class="asteriskField">*</span> </label>
                  <div class=""> <input type="password" name="password" placeholder="Password"
                      class="textinput textInput form-control" required id="id_password"> </div>
                </div>
                <div class="form-group">
                  <div id="div_id_remember" class="form-check"> <input type="checkbox" name="remember"
                      class="checkboxinput form-check-input" id="id_remember"> <label for="id_remember"
                      class="form-check-label">
                      Remember Me
                    </label> </div>
                </div>



                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
              </form>
            </article>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section> -->
<div class="mainsec">
  <div class="login-container" id="container">
	<div class="form-container sign-in-container">
		<form method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
			<h1>Sign in</h1>
			<div class="social-container">
        <a href=/accounts/google/login/?process=login"
                  class="btn btn-block btn-outline-danger"> <i class="fab fa-google-plus-g  "></i>&nbsp;Login via Google</a>
			</div>
			<span>or use your account</span>
			<input type="text" name="login" placeholder="Username" autofocus="autofocus"
      maxlength="150" required id="id_login" />
			<input type="password" name="password" placeholder="Password"
      required id="id_password" />
			<a href="#">Forgot your password?</a>
			<button type="submit">Sign In</button>
		</form>
	</div>

</div>
</div>

<script src="{% static 'login.js' %}"></script>

{% endblock %}