{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static  'login.css' %}">
<!-- <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form> -->
<!-- <div class="container my-3 mb-3">
  <section id="main" class="wrapper">
    <div class="inner">
      <div class="content">

        <h1>Sign Up</h1>

        <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>

        <form class="signup" id="signup_form" method="post" action="/accounts/signup/">
          {% csrf_token %}
          <div style="display: flex; justify-content: space-between; width:50%">
            <div class="options">
              <input type="radio" id="student" name="role" value="student" checked>
              <label for="female">Student</label><br>
            </div>
            <div class="options">
              <input type="radio" id="teacher" name="role" value="teacher">
              <label for="male">Teacher</label>
            </div>

          </div>
          <div id="div_id_email" class="form-group"> <label for="id_email" class=" requiredField">
              E-mail<span class="asteriskField">*</span> </label>
            <div class=""> <input type="email" name="email" placeholder="E-mail address"
                 required="" id="id_email"> </div>
          </div>
          <div id="div_id_email2" class="form-group"> <label for="id_email2" class=" requiredField">
              E-mail (again)<span class="asteriskField">*</span> </label>
            <div class=""> <input type="email" name="email2" placeholder="E-mail address confirmation"
                 required="" id="id_email2"> </div>
          </div>
          <div id="div_id_username" class="form-group"> <label for="id_username" class=" requiredField">
              Username<span class="asteriskField">*</span> </label>
            <div class=""> <input type="text" name="username" placeholder="Username" autofocus="autofocus" minlength="5"
                maxlength="150"  required="" id="id_username"> </div>
          </div>
          <div id="div_id_first_name" class="form-group"> <label for="id_first_name" class=" requiredField">
              First Name<span class="asteriskField">*</span> </label>
            <div class=""> <input type="text" name="first_name" maxlength="30" 
                required="" id="id_first_name"> </div>
          </div>

          <div id="div_id_last_name" class="form-group"> <label for="id_last_name" class=" requiredField">
              Last Name<span class="asteriskField">*</span> </label>
            <div class=""> <input type="text" name="last_name" maxlength="30" 
                required="" id="id_last_name"> </div>
          </div>
          <div id="div_id_password1" class="form-group"> <label for="id_password1" class=" requiredField">
              Password<span class="asteriskField">*</span> </label>
            <div class=""> <input type="password" name="password1" placeholder="Password"
                 required="" id="id_password1"> </div>
          </div>
          <div id="div_id_password2" class="form-group"> <label for="id_password2" class=" requiredField">
              Password (again)<span class="asteriskField">*</span> </label>
            <div class=""> <input type="password" name="password2" placeholder="Password (again)"
                 required="" id="id_password2"> </div>
          </div>


          <button type="submit">Sign Up »</button>
        </form>

      </div>
    </div>
  </section>
</div> -->
<div class="mainsec">
  <div class="login-container" id="container">
    <div class="form-container sign-up-container">
      <form  id="signup_form" method="post" action="/accounts/signup/">
        {% csrf_token %}
        <h1>Create Account</h1>
        <h6>Fill in the details to join us</h6>
        <input type="email" name="email" placeholder="E-mail address" 
          required="" id="id_email">
        <input type="text" name="username" placeholder="Username" autofocus="autofocus" minlength="5" maxlength="150"
           required="" id="id_username">
        <input type="text" name="first_name" placeholder="First Name" maxlength="30"  required=""
          id="id_first_name">
        <input type="text" name="last_name" placeholder="Last Name" maxlength="30"  required=""
          id="id_last_name">
        <input type="password" name="password1" placeholder="Password" 
          required="" id="id_password1">
        <input type="password" name="password2" placeholder="Password (again)" 
          required="" id="id_password2">
        <button>Sign Up</button>
      </form>
    </div>
  </div>
</div>
<script src="{% static 'login.js' %}"></script>
{% endblock %}