#left {
        width: 190px;
        float: left;
        z-index: 1000 !important;

    }

    #left .btn{
  position: absolute;
  /*top: 15px;*/
  left: 45px;
  /*height: 45px;*/
  width: 45px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}
#left .btn.click{
  left: 260px;
}
#left .btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}
#left .btn.click span:before{
  content: '\f00d';
}
#left .sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  top: 80px;
  z-index: 1000 !important;
  background: #1b1b1b;
  transition: left 0.4s ease;
}
#left .sidebar.show{
  left: 0px;
}
#left .sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
#left nav ul{
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
  padding-left: 0px !important;
}
#left nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
#left nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
#left nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
#left nav ul li.active a{
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}
#left nav ul li a:hover{
  background: #1e1e1e;
}
#left nav ul ul{
  position: static;
  display: none;
}
#left nav ul .feat-show.show{
  display: block;
}
#left nav ul .serv-show.show1{
  display: block;
}
#left nav ul ul li{
  line-height: 42px;
  border-top: none;
}
#left nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
#left nav ul li.active ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}
#left nav ul ul li a:hover{
  color: cyan!important;
  background: #1e1e1e!important;
}
#left nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
#left nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
#left .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #202020;
  z-index: -1;
  text-align: center;
}
#left .content .header{
  font-size: 45px;
  font-weight: 600;
}
#left .content p{
  font-size: 30px;
  font-weight: 500;
}
