* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: norwester;
    src: url('norwester.otf');
}

.viewmore a {
    text-decoration: none;
    color: #fff;
}

.viewmore a:hover {
    color: #fff;
}

.header-with-image {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
}

.head_photo {
    padding: 2%;
}

.head_text {
    padding: 4%;
    font-size: 1.4em;
    width: 40%;
}

.head_heading {
    font-size: 1.5em;
    font-family: norwester;
    color: #F0AE00;
}

.games-sec1,
.games-sec2,
.games-sec3 {
    height: 100%;
    width: 100%;
    background: #dcdcdc;
    padding: 2%;
    margin-bottom: 4%;
}

.games-heading {
    font-family: norwester;
    text-shadow: 6px 6px #F0AE00;
    text-align: center;
    margin: 20px 20px 20px;
}

.games-heading h1 {
    font-size: 50px;
}

.GIF {
    position: relative;
}

.video1,
.video2,
.video3 {
    position: absolute;
    top: 0;
}

.elementary {
    font-family: 'Open Sans', sans-serif;
    width: fit-content;
    background-color: #ff914d;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 0px auto 0 150px;
}

.cards {
    display: flex;
    justify-content: center;
}

.click-cards {
    display: flex;
    justify-content: center;
}

.gradient {
    height: 320px;
    width: 320px;
}

.gif-img {
    height: 320px;
    width: 320px;
}

.sec1-card1 {
    position: relative;
    padding: 0;
    height: 300px;
    width: 250px;
    background-color: #efeff0;
    border-radius: 15px;
    margin: 40px 40px 20px;
}

.inner-card {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    border-radius: 15px;
    background-color: #f0ae00;
}

.viewmore {
    font-family: 'Open Sans', sans-serif;
    width: fit-content;
    margin: auto;
    background-color: #ffbd59;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 20px;
}

.viewmore:hover {
    background-color: #f0ae00;
}

.photo2 {
    transform: rotateY(180deg);
}

.secondary {
    font-family: 'Open Sans', sans-serif;
    width: fit-content;
    background-color: #ff914d;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 0px 150px 0 auto;
}

.tertiary {
    font-family: 'Open Sans', sans-serif;
    width: fit-content;
    background-color: #ff914d;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 0px auto 0 150px;
}

@media(max-width: 1350px) {
    .head_photo {
        height: 500px;
    }
}

@media(max-width: 1200px) {
    .head_photo {
        height: 400px;
    }

    .head_heading {
        font-size: 1.3em;
    }

    .head_para {
        font-size: 1em;
    }
}

@media(max-width: 1050px) {
    .head_photo {
        height: 350px;
    }
}

@media(max-width: 950px) {
    .header-with-image {
        flex-wrap: wrap;
    }

    .head_heading,
    .head_para {
        text-align: center;
        font-size: 1.3em;
    }

    .head_text {
        width: 100%;
    }

    .head_heading {
        font-size: 2.4em;
    }

    .head_photo {
        height: 400px;
    }

    .games-sec1,
    .games-sec2 {
        margin-bottom: 20%
    }
}

@media(max-width: 768px) {
    .head_para {
        font-size: 0.9em;
    }

    .head_heading {
        font-size: 1.4em;
    }

    .head_photo {
        height: 350px;
    }
}

@media(max-width: 650px) {
    .head_photo {
        height: 300px;
    }
}

@media(max-width: 1150px) {
    .gradient {
        height: 350px;
        width: 350px;
    }

    .gif-img {
        height: 350px;
        width: 350px;
    }

    .sec1-card1 {
        height: 300px;
        width: 200px;
        margin: 30px 30px 10px;
    }

    .inner-card {
        height: 25px;
    }

    .elementary {
        margin: 0px auto 0 60px;
    }

    .elementary h1 {
        font-size: 30px;
    }

    .tertiary {
        margin: 0px auto 0 60px;
    }

    .tertiary h1 {
        font-size: 30px;
    }
}

@media(max-width: 995px) {
    .elementary {
        margin: 0px auto 0 100px;
    }

    .tertiary {
        margin: 0px auto 0 100px;
    }

    .cards,
    .click-cards {
        flex-wrap: wrap;
    }

    .secondary {
        margin: 0px auto 0;
    }
}

@media(max-width: 850px) {
    .elementary {
        margin: 0px auto 0 70px;
    }

    .tertiary {
        margin: 0px auto 0 70px;
    }
}

@media(max-width: 750px) {
    .elementary {
        margin: auto;
    }

    .tertiary {
        margin: 0px auto 0;
    }
}


/*footer*/
.footer {
    height: 300px;
    background-color: #ffbd59;
    display: flex;
}

.footer .icons {
    font-family: 'Ubuntu', sans-serif;
    width: 250px;
    margin: 50px;
}

.footer .icons i {
    margin: 10px;
}

.footer .icons p {
    display: inline;
}

.footer .aboutcompany {
    width: 500px;
}

.footer .aboutcompany h3 {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 50px;
    margin-bottom: 10px;
    color: black;
}

.footer .aboutcompany .abouttext {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.footer .keepintouch {
    font-family: 'Ubuntu', sans-serif;
    width: 250px;
    margin: 55px 50px;
    font-size: 20px;
}

.footer .keepintouch i {
    margin: 5px;
}

.footer .keepintouch h1 {
    font-size: 30px;
    margin: 0;
}

.footer .newsletter {
    width: 250px;
    margin: 40px;
}

.footer .newsletter h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}

.footer .newsletter input {
    margin-bottom: 10px;
}

/*End of contactUS-section*/
@media(max-width: 1100px) {
    .footer .icons {
        margin: 30px 50px 50px;
    }

    .footer .icons p {
        display: inline-block;
    }

    .footer .keepintouch i {
        font-size: 50px;
    }
}

@media(max-width: 950px) {
    .footer .icons i {
        margin: 5px;
    }

    .footer .keepintouch {
        margin: 50px 40px;
        font-size: 20px;
    }

    .footer .keepintouch i {
        font-size: 45px;
    }
}

@media(max-width: 850px) {
    .footer .aboutcompany .abouttext {
        font-size: 12px;
    }

    .footer .aboutcompany h3 {
        margin-top: 40px;
        font-size: 20px;
    }

    .footer .keepintouch {
        margin: 40px;
        font-size: 20px;
    }

    .footer .keepintouch h1 {
        font-size: 20px;
    }

    .footer .keepintouch i {
        font-size: 30px;
        margin: 2px;
    }
}

@media(max-width: 750px) {
    .footer .icons {
        margin: 40px 10px;
    }

    .footer .keepintouch {
        margin: 40px 10px;
    }

    .footer .newsletter {
        margin: 40px 10px;
    }

    .footer .newsletter h1 {
        font-size: 20px;
    }
}

@media(max-height: 650px) {
    .footer {
        height: 200px;
    }

    .footer .aboutcompany h3 {
        margin-top: 10px;
    }

    .footer .icons p {
        margin: 0;
    }
}