* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    margin-left: 200px;
}

h2 {
    margin-top: 15px;
    margin-left: 15px;
}

p {
    margin-bottom: 10px;
}

body {
    background-color: rgb(230, 230, 230);
    font-family: 'Lato', sans-serif;
}

.gel {
    width: 75%;
    margin: 50px auto;
    margin-top: 10px;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.wrapper {
    height: 400px;
    width: 700px;
    background-color: white;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    grid-row: 1/-1;
    border-radius: 12px;
}

.item1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    background-color: white;
    border-radius: 12px;
}

.item2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    background-color: white;
    border-radius: 12px;
}

/*progress pie chart*/
.progress-pie-chart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
}

.progress-pie-chart.gt-50 {
    background-color: #ffcc00;
}

.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 200px, 200px, 100px);
}

.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 100px, 200px, 0);
    background: #ffcc00;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

.gt-50 .ppc-progress {
    clip: rect(0, 100px, 200px, 0);
}

.gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 200px, 200px, 100px);
    background: #E5E5E5;
}

.ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 173.91304px/2);
    top: calc(50% - 173.91304px/2);
    width: 173.91304px;
    height: 173.91304px;
    background: #fff;
    text-align: center;
    display: table;
}

.ppc-percents span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #ffcc00;
}

.pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.progress-pie-chart {
    margin: 50px auto 0;
}

/* progress bar*/
.progress {
    margin: 50px auto;
    margin-bottom: 2px;
    background-color: #E5E5E5;
    width: 80%;
    border-radius: 15px;
}

.progress1 {
    margin: 5px auto;
    margin-bottom: 2px;
    background-color: #E5E5E5;
    width: 80%;
    border-radius: 15px;
}

.progress2 {
    margin: 1px auto;
    margin-bottom: 2px;
    background-color: #E5E5E5;
    width: 80%;
    border-radius: 15px;
}

.progress-bar {
    background-color: #ffcc00;
    color: white;
    padding: 1.5%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}

.null {
    width: 43%;
}


/*my courses*/
.jelly {
    width: 75%;
    height: 300px;
    margin: 50px auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

.item3 {
    background-color: white;
    border-radius: 12px;
}

.item4 {
    background-color: white;
    border-radius: 12px;
}

.item5 {
    background-color: white;
    border-radius: 12px;
}

#image1,
#image2 {
    margin: 20px;
}

#image3 {
    float: left;
}


#image {
    height: 200px;
    width: 200px;
}

.sam .btns {
    text-decoration: none;
    float: right;
    right: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    border: 3px solid white;
    background-color: #ffcc00;
    padding: 8px 30px;
    transition: all 0.3s;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
}

.sam .btns:hover {
    background-color: #F44336;
}

.sam .btns:before {
    content: '';
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    position: absolute;
    transform: translateX(-100%) translateY(12%) rotate(50deg);
    transition: all 0.3s;
}

.sam .btns:hover:before {
    transform: translateX(100%) translateY(12%) rotate(50deg);
}


/* */
/*# sourceMappingURL=style.css.map */