* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.attop {
    margin-left: 20px;
    margin-top: 80px;
}

.attop h1 {
    margin-top: 200px;
    margin-left: 80px;
    font-size: 3rem;
    color: #ff914d;
    position: absolute;
}

.attop h1:hover {
    text-shadow: 2px 2px #000;

}

.attop h4 {
    position: absolute;
    margin-top: 280px;
    margin-left: 40px;
    font-size: 1.5rem;
    text-align: left;

}

.top {
    width: 50%;
    height: 700px;
    margin-left: 655px;
}

/* section classroom */
#classroom {
    border: 4px dashed grey;
    display: inline-block;
    padding: 10px 150px 10px 10px;
    margin-left: 250px;
}

.class h6 {
    font-size: 1.5rem;
    display: inline;
    font-weight: bold;
    padding-left: 100px;
}

.progress {
    font-size: 20px;
    margin-top: 0;
    line-height: 22px;
    text-align: -webkit-left;
    height: inherit;
    background-color: inherit;
}

.create {
    padding: 4px 40px 5px 40px;
    font-size: 1.5rem;
    border-color: #ff914d;
    border-radius: 10px;
    margin-left: 30px;
    background-color: #ff914d;
}


/* mycourses */
#mycourses {
    margin-left: 250px;
    margin-top: 50px;
}

.cards {
    padding-right: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    flex-wrap: wrap;
}

.courses {
    padding: 5px 20px 5px 20px;
    font-size: 2rem;
    border-color: #ff914d;
    border-radius: 10px;
    background-color: #ff914d;
    margin-bottom: 20px;
}

.card {
    position: relative;
    width: 300px;
    height: 200px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0 0 13px 0px rgba(0, 0, 0, .3);
    transition: .5s;
    overflow: hidden;
    margin: .85rem;
}

.card:hover {
    height: 397px;
}

.card img {
    width: 100%;
    border-radius: 16px;
    transition: .5s;
}

.card:hover img {
    border-radius: 16px 16px 0 0;
}

.card .card-body {
    padding: .5rem .85rem 1rem;
    height: 0;
}

.card .card-body h6 {
    margin: .5rem 0;
    font-size: .85rem;
    color: crimson;
    letter-spacing: 3px;
}

.card .card-body p {
    text-align: justify;
    font-size: .9rem;
    line-height: 25px;
}

.card .card-body div {
    text-align: right;
    width: 100%;
}

.card .card-body div a {
    position: relative;
    text-decoration: none;
    color: #526ffd;
    padding: .5rem;
    text-align: center;
    z-index: 999;
    font-size: .85rem;
}

.card .card-body div a::before {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    background: #526ffd;
    border-radius: 300px;
    left: -13px;
    top: 3px;
    z-index: -1;
    transition: .3s;
}

.card .card-body div a:hover {
    color: #fff;
}

.card .card-body div a:hover::before {
    width: 100%;
    height: 88%;
    left: 0;
}

/* section articles */
#articles {
    margin-left: 250px;
    margin-top: 50px;
    margin-right: 100px;

}

.article {
    padding: 6px 50px 6px 50px;
    font-size: 2rem;
    border-color: #ff914d;
    border-radius: 10px;
    background-color: #ff914d;
    margin-bottom: 20px;
}

.articl {
    width: 1000px;
    height: 350px;
    background: #d9d9d9;
    border-radius: 10px;
    position: relative;
}

.image {
    height: 220px;
    margin-left: 30px;
    margin-top: 20px;
    text-align: center;
    margin-right: 20px;
    float: left;

}

.para {
    text-align: left;
}

h3 {
    display: inline;
    font-size: 20px;


}

p {
    font-size: 18px;

}

.read {
    padding: 6px 30px 6px 30px;
    font-size: 1.5rem;
    border-color: #ff914d;
    border-radius: 10px;
    background-color: #ff914d;
    margin-left: 150px;
    margin-top: 20px;
}

/* section footer */
#footer {
    margin-top: 200px;
    padding: 20px;
    background-color: #ecb487
}

h5 {
    text-align: center;
    font-weight: bolder;
    color: black;
}

.text {
    font-weight: 700;

}

.add {
    display: inline;
    font-weight: 700;
    margin-left: 4px;
}

.num {
    display: inline;
    font-weight: 700;
    margin-left: 4px;

}

.mail {
    display: inline;
    font-weight: 700;
    margin-left: 4px;
}

.fas {
    margin-top: 30px;
}

a {
    color: black;
    margin-left: 20px;
    text-decoration: none;
}

a:hover {
    color: white;
}

.icons {
    margin-top: 40px;
    margin-left: 150px;
}



@media only screen and (max-width: 1080px) {
    .attop {
        margin-left: 30px;
        margin-top: 100px;
    }

    .attop h1 {
        color: #ff914d;
        font-size: 1.4rem;
        position: inherit;
        margin: 0px;

    }

    .attop h4 {
        margin-top: 10px;
        margin-left: 40px;
        font-size: 0.7rem;
        font-weight: 400;
        position: inherit;
    }

    .top {
        width: 80%;
        height: 70%;
        margin-left: 10px;
    }

    /* section classroom */
    #classroom {
        border: 4px dashed grey;
        display: inline-block;
        padding: 5px 50px 10px 10px;
        margin-left: 10px;
        position: relative;
    }

    h6 {
        font-size: 1.2rem;
        display: inline;
        font-weight: bold;
        padding-left: 80px;
    }

    .progress {
        font-size: 14px;
        margin-top: 0;
        line-height: 22px;
        float: left;
        width: 99%;
    }

    .create {
        padding: 2px 5px 2px 5px;
        font-size: 1rem;
        border-color: #ff914d;
        border-radius: 10px;
        margin-left: 10px;
        background-color: #ff914d;
        float: right;
        display: inline-block;

    }

    /* mycourses */
    #mycourses {
        margin: 0px;
        padding: 0px;
    }

    .cards {
        padding-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        flex-wrap: wrap;
    }

    .courses {
        padding: 5px 10px 5px 10px;
        font-size: 1.6rem;
        border-color: #ff914d;
        border-radius: 10px;
        background-color: #ff914d;
        margin-bottom: 10px;
        margin-top: 20px;
        margin-left: 10px;
    }

    .card {
        position: relative;
        width: 300px;
        height: 200px;
        cursor: pointer;
        border-radius: 16px;
        box-shadow: 0 0 13px 0px rgba(0, 0, 0, .3);
        transition: .5s;
        overflow: hidden;
        margin: .65rem;
    }

    .card:hover {
        height: 397px;
    }

    .card img {
        width: 100%;
        border-radius: 16px;
        transition: .5s;
    }

    .card:hover img {
        border-radius: 16px 16px 0 0;
    }

    .card .card-body {
        padding: .2rem .6rem 0.5rem;
        height: 0;
    }

    .card .card-body h6 {
        margin: .0rem 0;
        font-size: .85rem;
        color: crimson;
        letter-spacing: 3px;
    }

    .card .card-body p {
        text-align: justify;
        font-size: .9rem;
        line-height: 25px;
    }

    .card .card-body div {
        text-align: left;
        width: 100%;
    }

    .card .card-body div a {
        position: relative;
        text-decoration: none;
        color: #526ffd;
        padding: .5rem;
        text-align: center;
        z-index: 999;
        font-size: .85rem;
    }

    .card .card-body div a::before {
        position: absolute;
        content: '';
        width: 13px;
        height: 13px;
        background: #526ffd;
        border-radius: 300px;
        left: -13px;
        top: 3px;
        z-index: -1;
        transition: .3s;
    }

    .card .card-body div a:hover {
        color: #fff;
    }

    .card .card-body div a:hover::before {
        width: 100%;
        height: 88%;
        left: 0;
    }

    /* section articles */
    #articles {
        margin-left: 20px;
        margin-top: 50px;
        margin-right: 20px;


    }

    .article {
        padding: 3px 10px 3px 10px;
        font-size: 1.6rem;
        border-color: #ff914d;
        border-radius: 10px;
        background-color: #ff914d;
        margin-bottom: 20px;
    }

    .articl {
        width: 310px;
        height: 250px;
        background: #d9d9d9;
        position: absolute;


    }

    .para {
        margin-bottom: 100px;

    }


    .image {
        height: 100px;
        margin-top: 25px;
        margin-left: 2px;

    }

    h3 {
        font-size: 12px;
    }

    p {
        font-size: 10px;
        padding-right: 10px;
        margin-left: 20px;
    }

    .read {
        padding: 3px 5px 3px 5px;
        font-size: 1rem;
        border-color: #ff914d;
        border-radius: 10px;
        background-color: #ff914d;
        margin-left: 100px;
    }

    /* section footer */
    #footer {
        margin-top: 300px;
        /* padding-left: 100%; */
        background-color: #ecb487
    }

    h5 {
        text-align: center;
        font-weight: bolder;
        color: black;
    }

    .text {
        font-weight: 700;

    }

    .add {
        display: inline;
        font-weight: 700;
        margin-left: 10px;
    }

    .num {
        display: inline;
        font-weight: 700;
        margin-left: 10px;

    }

    .mail {
        display: inline;
        font-weight: 700;
        margin-left: 5px;
    }

    .fas {
        margin-top: 30px;
    }

    a {
        color: black;
        margin-left: 20px;
        text-decoration: none;
    }

    a:hover {
        color: white;
    }

    .icons {
        margin-top: 40px;
        margin-left: 150px;
    }

}

@media only screen and (max-width: 760px) {
    .articl {
        width: 320px;
    }
}

@media only screen and (max-width: 350px) {
    .articl {
        width: 290px;
    }

}

@media only screen and (max-width: 300px) {
    .articl {
        width: 250px;
    }

}

@media only screen and (min-width: 761px) and(max-width: 900px) {
    .articl {
        width: 700px;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 900px) {
    .attop {
        margin-left: 30px;
        margin-top: 100px;
    }

    .attop h1 {
        color: #ff914d;
        font-size: 1.8rem;
        position: inherit;
        margin: 0px;

    }

    .attop h4 {
        margin-top: 10px;
        margin-left: 40px;
        font-size: 1.5rem;
        font-weight: 400;
        position: inherit;
    }

    .top {
        width: 80%;
        height: 70%;
        margin-left: 10px;
    }

    .articl {
        width: 600px;
    }

}

@media only screen and (max-width:1400) and (min-width:1100) {
    .articl {
        width: 400px;
    }

    .footer {
        padding
    }
}